* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito Sans';
}

h1 {
    font-size: 50px;
    margin: 50px 0px 25px 0px;
    font-weight: 600;
}

p {
    font-weight: 300;
    font-size: 20px;
}